<launch>

  <arg name="namespace" default="falcon"/>

  <group ns="$(arg namespace)">

    <node pkg="dji_sdk" type="dji_sdk_node" name="dji_sdk" output="screen">
      <!-- Node parameters -->
      <param name="serial_name" type="string" value="/dev/ttyUSB0"/>
      <param name="baud_rate" type="int" value="921600"/>
      
      <param name="app_version" type="int" value="1"/>
      <param name="app_bundle_id" type="string" value="Welcome to use dji-sdk"/>
      <param name="enc_key" type="string" value="a41335b074411eb3408029cd0955324df2d3b84e5c0d80ed8344ae5c34e05cb2"/>
      <param name="app_id" type="int" value="1040678"/>
      <param name="groundstation_enable" type="int" value="1"/>
      <!-- External position/transform topic -->
      <remap from="dji_sdk/external_transform" to="spoofed_external_transform" />
      <!-- remap from="dji_sdk/external_transform" to="vrpn_client/estimated_transform" / -->
    </node>

    <node pkg="dji_waypoint_navigator" type="dji_waypoint_navigator" name="dji_waypoint_navigator" output="screen">
      <rosparam file="$(find dji_waypoint_navigator)/params/trajectory_sugarbeet.yaml"/>
    </node>

  </group>

</launch>
