<launch>
  <arg name="mav_name" default="flourish"/>
  <arg name="object_name" default="$(arg mav_name)"/>
  <arg name="namespace" default="$(arg mav_name)" />

  <!-- Vicon -->
  <include file="$(find ros_vrpn_client)/launch/asl_vicon.launch">
    <arg name="object_name" value="$(arg mav_name)"/>
  </include>

<group ns="$(arg namespace)">
  <node pkg="tf" type="static_transform_publisher" name="vicon_broadcaster" args="0 0 0 0 0 0 1 world vicon 100" />
  <node pkg="keyboard" type="keyboard" name="keyboard"/>
  <!-- <node pkg="rviz" type="fix_rviz" name="flourish_rviz" args="-d $(find mav_startup)/viz/flourish_exp.rviz"/> -->
  <node pkg="rqt_gui" type="rqt_gui" name="flourish_rqt"/>
  <?ignore
  <node name="waypoint_navigator_node" pkg="waypoint_navigator" type="waypoint_navigator_node"  respawn="true" clear_params="true" output="screen">
      <rosparam file="$(find waypoint_navigator)/paths/trajectory_exp_m100_rect.yaml"/>
      <param name="mav_name" type="string" value="$(arg namespace)" />
      <!-- Real -->
      <remap from="odometry" to="msf_core/odometry" />
      <!-- Simulation -->
      <!-- <remap from="odometry" to="ground_truth/odometry" /> -->
      <!-- <remap from="odometry" to="dji_sdk/odometry" /> -->
    </node>
    <node name="trajectory_sampling" pkg="mav_planning_utils" type="trajectory_sampling_node" output="screen" />
    ?>
</group>

</launch>
